<!DOCTYPE html>
<html ng-app="app">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css'/>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="vendor/moment/moment.js"></script>
    <script src="/javascripts/app.js"></script>
    <style>
        .btnMargin {
            margin: 8px 20px;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="mainCtrl">
    <h1><%= title %></h1>

    <form role="form" name="taskForm" ng-submit="addForm(taskForm.$valid)" novalidate autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error' : taskForm.addTask.$invalid && !taskForm.addTask.$pristine }">
            <input class="form-control input-sm" type="text" name="addTask" id="addTask" ng-model="addTask"
                   placeholder="Add your task !" required/>

            <p ng-show="taskForm.addTask.$invalid && !taskForm.addTask.$pristine" class="help-block">TaskName is
                required.</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-warning pull-right"  ng-disabled="taskForm.$invalid"><span
                        class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>
    </form>
    <!--<div class="row col-md-6 col-md-offset-2 custyle">-->
    <table class="table table-striped custab">
        <thead>
        <h1 class="navbar-btn pull-left">Task List</h1>
        <tr>
            <th>Index</th>
            <th>Title</th>
            <th>Created date</th>
            <th style="text-align: center">Action</th>
        </tr>
        </thead>
        <tr ng-repeat="item in filteredList">
            <td>{{$index+1}}</td>
            <td>{{item.taskName}}</td>
            <td>{{getDisplayTime(item.created_at)}}</td>
            <td class="text-center">
                <a class="btn btn-danger btn-xs" ng-click="deleteTask(item)"><span class="glyphicon glyphicon-trash">Delete</span></a>
            <td>
        </tr>
    </table>
</div>
</body>
</html>
